<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SANITY">
  <test thread-count="5" name="TestOrangeHRM">
    <classes>
      <class name="testng.TestClass"/>
       
    </classes>
  </test> <!-- TestOrangeHRM -->
</suite> <!-- SANITY -->
